<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>piam</display-name>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.login.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.login.Logout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CreatUser</display-name>
		<servlet-name>CreatUser</servlet-name>
		<servlet-class>com.login.CreatUser</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddAccount</display-name>
		<servlet-name>AddAccount</servlet-name>
		<servlet-class>com.login.AddAccount</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Display</display-name>
		<servlet-name>Display</servlet-name>
		<servlet-class>com.login.Display</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddBankInfo</display-name>
		<servlet-name>AddBankInfo</servlet-name>
		<servlet-class>com.login.AddBankInfo</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteAccount</display-name>
		<servlet-name>DeleteAccount</servlet-name>
		<servlet-class>com.login.DeleteAccount</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteUser</display-name>
		<servlet-name>DeleteUser</servlet-name>
		<servlet-class>com.login.DeleteUser</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddDairy</display-name>
		<servlet-name>AddDairy</servlet-name>
		<servlet-class>com.login.AddDairy</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteBankInfo</display-name>
		<servlet-name>DeleteBankInfo</servlet-name>
		<servlet-class>com.login.DeleteBankInfo</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteDairy</display-name>
		<servlet-name>DeleteDairy</servlet-name>
		<servlet-class>com.login.DeleteDairy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreatUser</servlet-name>
		<url-pattern>/CreatUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddAccount</servlet-name>
		<url-pattern>/addAccount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Display</servlet-name>
		<url-pattern>/Display</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddBankInfo</servlet-name>
		<url-pattern>/addBankInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteAccount</servlet-name>
		<url-pattern>/DeleteAccount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteUser</servlet-name>
		<url-pattern>/deleteUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddDairy</servlet-name>
		<url-pattern>/addDairy</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteBankInfo</servlet-name>
		<url-pattern>/deleteBankInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteDairy</servlet-name>
		<url-pattern>/deleteDairy</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>welcome.jsp</welcome-file>
	
	</welcome-file-list>
</web-app>
